.search-filter {
  width: auto;
  border-radius: 10px;
  background-color: lightgray;
}

.search-button {
  background-color: $orange;
  border: 1px solid $gray;
  box-shadow: 1px 2px 2px $gray;
  border-radius: 15px;
}

#map {
  height: 100vh;
  width: 100%;
  float: right;
}


.search-card {
  background-color: $orange;
  border: 1px solid $gray;
  box-shadow: 1px 2px 2px $gray;
  border-radius: 20px;
}

.button {
  position: absolute;
  left: 860px;
  top: 115px;
  width: 100px;
  margin-left: -120.5px; /*104.5px is half of the button's width*/
}


/* Importing layouts */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.cards-container {
  display: flex;
}

.cards-container .cards {
  flex-grow: 1;
  padding: 16px;
}

.cards-container #map {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 80vh;
  width: 40vw;
  position: sticky;
  top: 0;
  margin-left: 30px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.card-c {
  width: 360px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0 0 10px $light-gray;
}

.card-c img {
  width: 100%;
  border-radius: 10px;
}

.card-c-info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.body-text {
  color: $orange;
  box-shadow: none;
}

// .btn-secondary {
//   background-color: #14a468;
// }

#car-name-search-card {
  color: $orange;
}

#car-desc {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 16px;
  color: $gray;
  font-size: 16px;
}
