// Specific CSS for your home-page
.home-banner {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  z-index: -2;
}

.heading {
  color: $light-gray;
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: x-large;

  }

}

.heading h1 {
  font-size: 90px;
  color: $light-gray;
  font-style: unset;
}

.search-btn {
  display: inline !important;
}

h1 {
  font-size: 50px;
  color: $orange;
}

.search-filters-background {
  color: $gray;
  width: auto;
  background-color: $orange;
  border-radius: 20px;
  padding: 10px;
  margin: 4px;
}

a {
  text-decoration: none;
  transition: 2s;
}


.btn-orange {
	background-color:#e67e22;
	border-radius:28px;
	border:4px solid #e67e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-style:italic;
	padding:15px 66px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.btn-orange:hover {
	background-color:#ffffff;
  color:#e67e22;
}
.btn-orange:active {
	position:relative;
	top:1px;
}

.btn-primary:hover {
  background-color: darkgreen;
}
