// * {
//   border: red 1px solid;
// }

.header-show {
  color: $gray;
  font-family: $headers-font;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

// button {
//   position: absolute;
//   left: 1280px;
//   top: 20px;
// }

.background-container-show {
  background-color: $light-gray;
  height: 100vh;
}

.para-book-now {
  color: $gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.para-show {
  color: $gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.para-specs {
  color: $gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.para-specs {
  color: $gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
}
.para-descript {
  color: $gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
}



// h5 {
//   color: rgb(65, 64, 64);
//   font-family: 'Lora', serif;
//   font-size: 30px;
//   line-height: 36px;
// }

.containera {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid $gray;
  border-radius: 0.25rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
  font-family: $body-font;
}

.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: $gray;
  border-bottom: 1px solid $gray;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: $gray;
  border-top: 1px solid $gray;
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

.link {
  text-decoration: none;
}

body {
 background-image: url("https://pragaglobal.com/wp-content/themes/praga/assets/img/home/bohema-home-2.jpg");
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  z-index: -2;
}
