.map-box {
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

}

.checkout {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: $orange;
}

.car-img {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-show {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(23, 189, 255);
}

.header1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $gray;
  font-size: 30px;
}


#gobackbtn {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
