<h1>your previous bookings</h1>
<ul>
<% @bookings.each do |booking| %>
<li> <%= link_to booking.car.model, car_booking_path(:car_id, booking) %> <%= booking.details %> from <%=booking.rental_start.to_formatted_s(:long)  %> to <%= booking.rental_end.to_formatted_s(:long)   %></li>
<% end %>
</ul>
