
<%= content_for(:navbar_class, 'navbar-home') %>

<div class="home-banner" style="background-image: url(<%= asset_path 'bgt.png' %>);">


  <div class="heading">
    <h1>Luxury Car Rentals at your Fingertips </h1>
    <p>Make your rental painless with us</p>
      <a href="/cars">
            <button type="submit" class="btn-orange"> Checkout our cars </button>
      </a>
  </div>
</div>
