
<%= content_for(:navbar_class, 'navbar-home') %>

<div class="home-banner" style="background-image: url(<%= asset_path 'bgt.png' %>);">


  <div class="heading">
    <h1>Luxury Car Rentals at your Fingertips </h1>
    <p>Make your rental painless with us</p>
    <div class="search-filters-background" >
      <select class="search-filter">
          <option value="" disabled selected>City</option>
          <option>London</option>
          <option>San Francisco</option>
      </select>
      <input type="date" id="start" name="trip-start"
                value="2023-02-28"
                min="2023-01-01" max="2023-12-31" class="search-filter">
      <select class="search-filter">
          <option value="" disabled selected>Car Type</option>
          <option>4x4</option>
          <option>Sedan</option>
          <option>MiniVan</option>
          <option>Sports Car</option>
      </select>
      <a href="/cars">
            <button type="submit" class="btn btn-primary search-btn"> Search </button>
      </a>


    </div>
  </div>
</div>
