.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


h1 {
  color: #f7c75f;
  font-family: 'Brush Script MT', cursive;
}


.nav-link {
  color: rgb(218, 173, 101) !important;
}

.nav-link:hover {
  color: #d63e3e !important;
}

.topnav {
  background-color: #eb0b0b;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(61, 244, 213) !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #2ff7b5;
  color: rgb(255, 255, 255);
  font-size: larger;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
