.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


h1 {
  color: $orange;
  font-family: $headings-font-family;
}


// .nav-link {
//   color: rgb(218, 173, 101) !important;
// }

// .nav-link:hover {
//   color: #d63e3e !important;
// }

.topnav {
  background-color: $orange;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: $light-gray !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
// .topnav a:hover {
//   background-color: $blue;
//   color: $light-gray;
//   font-size: larger;
// }

/* Add a color to the active/current link */
.topnav a.active {
  background-color: $blue;
  color: $light-gray;
}
