
<div class="container">
  <h1>Search Results</h1>
  <div class="d-inline p-2 dropdown">
    <button class="btn btn-secondary ddropdown-menu-right ropdown-toggle search-filter" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
      City
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
  <div class="d-inline p-2 dropdown">
    <button class="btn btn-secondary dropdown-menu-right dropdown-toggle search-filter" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
      Dates
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <a class="dropdown-item" href="#">test2</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
  <div class="d-inline p-2 dropdown">
    <button class="btn btn-secondary dropdown-menu-left dropdown-toggle search-filter" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
      Car Type
      <img src="../../assets/images/magnifying_glass.png" alt="magnifying class" width="500" height="200">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
      <a class="dropdown-item" href="#">Test3</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
<p></p>
</div class="container">
  <% @cars.each do |car| %>
    <img src=<%= car.model %> alt="car-stock-photo" width="500" height="200">
    <p><%= car.model %></p>
  <% end %>
</div>

<% @cars.each do |car| %>
<ul>
<li> <%= link_to car.model, car_path(car) %> </li>
</ul>
<% end %>
