
<h1><%= @car.model %></h1>
<%= cl_image_tag @car.photo.key, width: 300 if @car.photo.key %>
<p><%= link_to 'book this car', new_car_booking_path(params[:id]) %></p>
<p><%= link_to 'back to our cars', cars_path %></p>
